/* ^^^^^^^^ BELOW IS THE CODE FOR THE MENU ^^^^^^^^^^ */
#stylefour{position:relative;display:block;height:40px;font-size:12px;font-weight:bold;background:transparent url(bgOFF.gif) repeat-x top left;font-family:Arial,Verdana,Helvitica,sans-serif;border-top:6px solid #FF0000;}
#stylefour ul{margin:0;padding:0;list-style-type:none;width:auto;}
#stylefour ul li{display:block;float:left;margin:0;}
#stylefour ul li a{
	display:block;
	float:left;
	color:#000000;
	text-decoration:none;
	height:33px;
	background:transparent url(bgDIVIDER.gif) no-repeat top right;
	padding-top: 11px;
	padding-right: 13px;
	padding-bottom: 0;
	padding-left: 13px;
}
#stylefour ul li a:hover,#stylefour ul li a.current{color:#B30000;background:#FFFFFF url(bgON.gif) no-repeat top right;}
/* ^^^^^^^^ ABOVE IS THE CODE FOR THE MENU ^^^^^^^^^^ */