A:hover{color:#c00;text-decoration:none;}
TD{text-align:left;font-family:Verdana, Tahoma, Arial;color:#000;font-size:8pt;}
.input2{border-bottom:#45616d 1px solid;border-left:#45616d 1px solid;background-color:#45616d;font-family:Verdana, Tahoma, Arial;color:#FFF;font-size:8pt;border-top:#45616d 1px solid;border-right:#45616d 1px solid;}
#DHTMLgoodies_formTooltipDiv{line-height:120%;font-family:arial;color:#000;font-size:0.8em;font-weight:700;}
.DHTMLgoodies_formTooltip_closeMessage{color:#000;font-size:0.7em;font-weight:400;}
.tdliste{border-bottom:#c1dad7 1px solid;color:#000;border-right:#ebf3f2 1px solid;padding:1px 1px 1px 2px;}
.f1{width:15px;background:url(http://login.emlak.net/gfx/f1.gif) no-repeat left 50%;padding:2px 1px 1px 12px;}
.f2{width:15px;background:url(http://login.emlak.net/gfx/f2.gif) no-repeat left 50%;padding:2px 1px 1px 12px;}
.f3{width:15px;background:url(http://login.emlak.net/gfx/f3.gif) no-repeat left 50%;padding:2px 1px 1px 12px;}
.f4{width:15px;background:url(http://login.emlak.net/gfx/f4.gif) no-repeat left 50%;padding:2px 1px 1px 12px;}
.f5{width:15px;background:url(http://login.emlak.net/gfx/f5.gif) no-repeat left 50%;padding:2px 1px 1px 12px;}
.f6{width:15px;background:url(http://login.emlak.net/gfx/f6.gif) no-repeat left 50%;padding:2px 1px 1px 12px;}
A:link,A:visited,A:active{color:#03c;text-decoration:none;}
.input,.myinput{border-bottom:#45616d 1px solid;border-left:#45616d 1px solid;background-color:#FFF;font-family:Verdana, Tahoma, Arial;color:#000;font-size:8pt;border-top:#45616d 1px solid;border-right:#45616d 1px solid;}